<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">
  <Identity
    Name="{{IDENTITY_NAME}}"
    Publisher="{{PUBLISHER}}"
    Version="{{VERSION}}"
    ProcessorArchitecture="{{ARCHITECTURE}}" />
  <Properties>
    <DisplayName>OpsNest</DisplayName>
    <PublisherDisplayName>{{PUBLISHER_DISPLAY_NAME}}</PublisherDisplayName>
    <Logo>Assets\opsnest-app-mark.png</Logo>
  </Properties>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="OpsNest" Executable="OpsNest.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="OpsNest"
        Description="Project invoicing, finance and accounting workflows"
        BackgroundColor="#0D7D71"
        Square150x150Logo="Assets\opsnest-app-mark.png"
        Square44x44Logo="Assets\opsnest-app-mark.png">
        <uap:DefaultTile
          Wide310x150Logo="Assets\opsnest-app-mark.png"
          Square310x310Logo="Assets\opsnest-app-mark.png"
          Square71x71Logo="Assets\opsnest-app-mark.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
